/* custom.css */
body {
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
}

/* Custom dark mode transition */
body, .bg-white, .text-gray-900 {
    transition: background-color 0.3s ease, color 0.3s ease;
}
